/* Mobile view responsive start from here */
@media only screen and (max-width: 576px) {
  header nav {
    flex-direction: column;
    gap: 16px;
  }
  header nav .nav-links {
    flex-direction: column;
    gap: 17px;
  }

  header .banner {
    flex-direction: column-reverse;
    gap: 30px;
    text-align: center;
    padding: 15px;
  }
  header .banner .banner-con {
    width: 100%;
  }
  header .banner .banner-con h1 {
    font-size: 1.75rem;
  }
  header .banner .banner-con p {
    font-size: 0.875rem;
  }
  header .banner .banner-con button {
    margin: 0 auto;
  }

  main .sponsors {
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    gap: 20px;
  }
  main .sponsors div {
    margin: 0 auto;
  }

  main .product h2 {
    font-size: 1rem;
  }
  main .product .product-container {
    grid-template-columns: repeat(1, 1fr);
  }

  main .feature {
    flex-direction: column-reverse;
    text-align: center;
    gap: 24px;
    margin: 40px 0;
  }
  main .feature figure {
    width: 100%;
  }
  main .feature .left-con h2 {
    font-size: 1.5rem;
  }
  main .feature .left-con p {
    width: 100%;
  }
  main .feature .left-con button {
    margin: 0 auto;
  }
}
/* Mobile view responsive end here */
